<div class="container my-5">
    <h1 class="mb-3">Add New Employee</h1>
    <div class="row">
        <div class="col-6">
    <form #form="ngForm" (ngSubmit)="addShipment()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" 
          name="name" [(ngModel)]="addShipmentRequest.name">
        </div>

        <!-- <div class="mb-3">
          <label for="name" class="form-label">Status</label>
          <select id="state" name="state" class="form-select" [(ngModel)]="addShipmentRequest.state">
            <option value="Nadana">Nadana</option>
            <option value="W drodze">W drodze</option>
            <option value="Doreczona">Doreczona</option>
          </select>
        </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>
</div>