<div class="container my-5">
    <h1 class="mb-3">Edit Employee</h1>
    <div class="row">
        <div class="col-6">
    <form #form="ngForm" (ngSubmit)="updateShipment()">
        <!-- <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input  type="text" class="form-control" id="id" 
            name="id" [(ngModel)]="shipmentDetails.id">
          </div> -->
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input  type="text" class="form-control" id="name" 
          name="name" [(ngModel)]="shipmentDetails.name">
        </div>
        <div *ngIf="displayadmin" class="mb-3">
          <label for="name" class="form-label">Status</label>
          <select  id="state" name="state" class="form-select" [(ngModel)]="shipmentDetails.state">
            <option value="Nadana">Nadana</option>
            <option value="W drodze">W drodze</option>
            <option value="Doreczona">Doreczona</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>
</div>