<div class="container my-5">
    <h1 class="mb-3">Shipments</h1>
    <table class="table" *ngIf="shipments">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>State</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let shipment of shipments">
                <td>{{shipment.id}}</td>
                <td>{{shipment.name}}</td>
                <td>{{shipment.state}}</td>
                <td ><a *ngIf="shipment.state=='Nadana'|| displayadmin" [routerLink]="['/shipments','edit',shipment.id]">Edit</a></td>
                <!-- <td><a [routerLink]="['/shipments','edit',shipment.id]">Edit</a></td> -->
            </tr>
        </tbody>
    </table>
    <p *ngIf="!shipments || shipments.length<=0">No shipments found</p>
</div>
